﻿@model FizzBuzzSeries.Web.Models.SeriesViewModel

@{
    ViewBag.Title = "FizzBuzz Series";
}

<h2>FizzBuzz Series</h2>


@using (Html.BeginForm("DisplaySeries", "Home", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MaxNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MaxNumber)
                @Html.ValidationMessageFor(model => model.MaxNumber)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Generate Series" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model == null || Model.FizzBuzzSeries == null)
{
    <p>Something went wrong!</p>
}
else
{
    <section>
        <ul>
            @foreach (var number in Model.FizzBuzzSeries)
            {
                <li>@number</li>
            }
        </ul>
    </section>
    <nav>
        @Html.ActionLink("Prev", "DisplaySeries", new { StartNumber = Model.StartNumber, GoPrevious = true, MaxNumber = Model.MaxNumber });
        @Html.ActionLink("Next", "DisplaySeries", new { StartNumber = Model.StartNumber, GoNext = true, MaxNumber = Model.MaxNumber });
    </nav>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
